<ul class="ghm-checklist-container">
    <ng-container *ngFor="let checklist of source; let i = index">
        <li class="ghm-checklist"  *ngIf="isViewMore || (i<= 4 && !isViewMore)"
            [class.complete]="checklist.isComplete">
            <div class="checklist-item" *ngIf="!checklist.isEdit">
                <mat-checkbox
                    color="primary"
                    [disabled]="!allowComplete"
                    [checked]="checklist.isComplete"
                    (change)="onCompleteChange(checklist)"></mat-checkbox>
                <div class="ghm-checklist-content cm-mgl-5" (click)="edit(checklist)">
                    {{ checklist.name }}
                </div>
                <span class="btn-remove-checklist"
                      data-icon="delete-16"
                      (click)="allowDelete ? remove(checklist.id) :''"></span>
            </div>
            <form action="" class="checklist-form" (ngSubmit)="save()" *ngIf="checklist.isEdit">
                <ghm-input
                    elementId="ghmInput"
                    icon="fa fa-pencil"
                    [(ngModel)]="checklist.name"
                    [placeholder]="placeholder"
                    name="checklistName"></ghm-input>
                <div class="button-wrapper">
                    <button class="btn blue">Cập nhật</button>
                    <button type="button" class="btn btn-light" (click)="closeForm(checklist)">Đóng</button>
                </div>
            </form>
        </li>
    </ng-container>
    <li>
        <div *ngIf="source && source.length > 5" class="center">
            <a class="text-decoration-none color-dark-blue" (click)="isViewMore = true" *ngIf="!isViewMore"><i
                class="fa fa-angle-double-down"></i> Xem thêm</a>
            <a class="text-decoration-none color-dark-blue" (click)="isViewMore = false" *ngIf="isViewMore"><i
                class="fa fa-angle-double-up"></i> Rút gọn</a>
        </div>
    </li>
</ul><!--END: .ghm-checklist -->

<div class="ghm-checklist-error-message" *ngIf="errorMessage">
    {{ errorMessage }}
</div>
<form class="checklist-form" (ngSubmit)="save()" *ngIf="allowAdd && isShowForm">
    <ghm-input
        elementId="ghmInputAdd"
        icon="fa fa-pencil"
        [(ngModel)]="checklist.name"
        [placeholder]="placeholder"
        name="checklistName"></ghm-input>
    <div class="button-wrapper">
        <button class="btn blue">Cập nhật</button>
        <button type="button" class="btn btn-light" (click)="closeForm()">Đóng</button>
    </div>
</form>
<button class="add-checklist" (click)="addCheckList()" *ngIf="isShowForm == false && allowAdd">
    {{ buttonText }}
</button>
