$borderColor: #ddd;
$dangerColor: #d63031;

ul.ghm-checklist-container {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: block;
    width: 100%;
    .ghm-checklist {
        display: block;
        width: 100%;
        position: relative;
        border-bottom: 1px solid $borderColor;
        padding: 6px 20px;

        &:hover {
            background-color: #dff0fd;
            cursor: pointer;
        }

        mat-checkbox {
            position: absolute;
            top: 5px;
            left: 0;
        }

        &.complete {
            text-decoration: line-through;
        }

        .btn-remove-checklist {
            position: absolute;
            top: 5px;
            right: 5px;
            text-decoration: none;
            opacity: 1;

            &:hover {
                opacity: .8;
                cursor: pointer;
            }
        }
    }

    *[data-icon="delete-16"] {
        background: url(images/delete.png) center no-repeat;
        display: inline-block;
        zoom: 1;
        width: 16px;
        height: 16px;
        letter-spacing: 0;
        word-spacing: 0;

        &:before {
            content: ''
        }
    }
}

form.checklist-form {
    .button-wrapper {
        margin-top: 5px;

        button {
            margin-right: 5px;
        }
    }
}

button.add-checklist {
    background: transparent;
    border: 1px dashed $borderColor;
    color: #757575;
    display: block;
    width: 100%;
    padding: 6px;
    text-align: center;

    &:hover {
        background-color: #f5f7f7;
    }
}

.ghm-checklist-error-message {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    border: 1px solid $dangerColor;
    background-color: $dangerColor;
    color: white;
}
