
.app-suggest {
    padding-top: 0px;
}

ul {
    display: block;
    width: 100%;
    padding-left: 0px;
    list-style: none;
    li {
        padding: 4px 0px;
        &:hover {
            background-color: #dff0fd;
            cursor: pointer;
        }

        .media-left {
            img {
                display: block;
                width: 24px;
                height: 24px;
            }
        }

        .media-body {
            h4.media-heading {
                margin-bottom: 0;
                margin-top: 4px !important;
            }
        }
    }
}
