<div class="app-suggest" *ngIf="listUser && listUser.length > 1">
    <ul>
        <ng-container *ngFor="let item of listUser">
            <li *ngIf="item.userId !== currentUser.id" (click)="selectUser(item)">
                <div class="media">
                    <div class="media-left">
                        <img ghmImage
                             [src]="item?.avatar"
                             [errorImageUrl]="'/assets/images/noavatar.png'"
                             class="avatar-sm img-circle img-responsive"/>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading cm-mgt-5 cursor font-size-15 uppercase">
                            {{ item.fullName }}</h4>
                        <i>{{ item.titleName }}</i>
                    </div>
                </div>
            </li>
        </ng-container>
    </ul>
</div>
