$border-color: #ddd;
$solid-border: 1px solid $border-color;

$colors: (
    primary: #007bff
);

nh-tab {
    margin-top: 20px;

    .nh-tab-title-container {
        display: block;
        width: 100%;
        position: relative;
        margin-bottom: -6px;
        list-style: none;
        padding-left: 0;

        .nh-tab-title {
            border-left: $solid-border;
            border-top: $solid-border;
            border-right: $solid-border;
            padding: 8px 30px 8px 20px;
            position: relative;
            display: inline-block;
            zoom: 1;
            margin-right: 5px;
            user-select: none;

            &.active {
                border-top: 3px solid map-get($colors, primary);
                border-bottom: 1px solid transparent;
                background: white;
            }

            &:hover {
                cursor: pointer;
            }

            &.hidden {
                display: none;
            }

            .btn-close-tab {
                position: absolute;
                top: 10px;
                right: 10px;
                border: none;
                background: transparent;

                &:hover, &:active, &:visited, &:focus {
                    outline: none;
                }
            }

            i.nh-tab-title-icon, span.nh-tab-title-content {
                display: table-cell;
                vertical-align: middle;
            }

            span.nh-tab-title-content {
                max-width: 150px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    .nh-tab-content {
        border: $solid-border;
        background: white;

        display: block;
        width: 100%;
        overflow: hidden;

        nh-tab-pane {
            display: none;
            width: 100%;
            padding: 15px;
            min-height: 440px;
            &.active {
                display: block;
            }
        }
    }

}
