$colors: red, orange, green, blue, purple;
$activeColor: #27ae60;
$repeat: 20;
$borderColor: #ddd;
@function nh-calculate-width($itemLength) {
    @return 1 / $itemLength * 100%;
}

nh-wizard {
    .nh-wizard-container {
        padding: 10px 20px;
        border: 1px solid $borderColor;
        border-radius: 10px;
        box-shadow: 5px 5px 5px $borderColor;
        background: white;

        .nh-wizard-header {
            text-align: left;
            //border-bottom: 1px solid $borderColor;
            padding-bottom: 10px;

            //@for $i from 1 through 10 {
            //    &.nh-wizard-header-#{$i} {
            //        ul li {
            //            width: nh-calculate-width($i);
            //        }
            //    }
            //}

            ul {
                padding-left: 0;
                text-align: left;
                margin-bottom: 0;
                position: relative;
                display: block;
                width: 100%;
                border-bottom: 1px solid $borderColor;

                li {
                    list-style: none;
                    display: inline-block;
                    position: relative;
                    padding: 10px 20px;
                    margin-right: 20px;
                    color: #999;

                    &.active {
                        color: #333;
                    }

                    &.active-line {
                        border: 1px solid $activeColor;
                        position: absolute;
                        left: 0;
                        padding: 0 !important;
                        top: 100%;
                        transition: all 300ms ease-in;

                        &:after {
                            background-image: none;
                        }
                    }

                    &:last-child {
                        margin-right: 0;
                        &::after {
                            background-image: none;
                        }
                    }

                    &:first-child::after {
                        border: none;
                    }

                    &:after {
                        content: '';
                        background-image: url('./images/right-arrow.svg');
                        display: block;
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        right: -20px;
                        top: 12px;
                    }

                    //&::before, &::after {
                    //    content: '';
                    //    position: absolute;
                    //    top: 25%;
                    //    z-index: 1;
                    //}

                    //&::before {
                    //    left: -4em;
                    //    width: 100%;
                    //    border: 3px solid $borderColor;
                    //    left: 50%;
                    //}
                    //
                    //&::after {
                    //    width: 0;
                    //    left: -50%;
                    //    border: 3px solid $activeColor;
                    //}

                    &:hover {
                        cursor: pointer;
                    }

                    &:hover ~ li.active-line {
                        left: 50%;
                    }

                    div.step-container {
                        padding-bottom: 60px;

                        div.step {
                            width: 60px;
                            height: 60px;
                            border-radius: 50% !important;
                            color: white;
                            background-size: 200% 100%;
                            background-image: linear-gradient(to right, $borderColor 50%, $activeColor 50%);
                            padding: 5px;
                            margin: 0 auto;
                            position: absolute;
                            left: 0;
                            right: 0;
                            z-index: 4;

                            .step-inner {
                                border-radius: 100% !important;
                                width: 50px;
                                height: 50px;
                                display: table-cell;
                                vertical-align: middle;
                                position: absolute;
                                z-index: 2;
                                background: white;
                                color: #333;
                                font-size: 20px;
                                padding: 10px 0;
                            }

                            i {
                                font-style: normal;
                                font-weight: bold;
                            }
                        }
                    }

                    div.title {
                        text-align: center;
                        font-weight: bold;
                    }
                }
            }
        }

        nh-step {
            .step-content-container {
                padding: 20px 0;
            }

            .nh-wizard-step-footer {
                clear: both;
                overflow: hidden;
                padding: 20px 0 0;
                border-top: 1px solid $borderColor;

                button {
                    border: 3px solid #999;
                    background: white;
                    border-radius: 60px !important;
                    padding: 7px 30px;

                    &.back {
                        float: left;
                    }

                    &.next {
                        float: right;
                        border: 1px solid #3498db;
                        background: #3498db;
                        color: white;
                    }

                    &.finish {
                        background-color: $activeColor;
                        color: white;
                        border: 1px solid $activeColor;
                    }
                }
            }
        }

    }

}
