
<input
    #fileInput
    class="hidden"
    type="file"
    [attr.multiple]="multiple ? true : null"
    (change)="onFileChange($event)">

<button type="button" class="btn blue" (click)="fileInput.click()" [disabled]="uploading">
    <span *ngIf="uploading"> {{percentUpload}}% </span>
    <i *ngIf="!uploading" class="fa fa-cloud-upload cm-mgr-5"></i>
    <span i18n="@@chooseFile">{{ text }}</span>
</button>
