// import login css
@import "../../assets/sass/pages/users/login-1.scss";

kt-auth, #kt_login_wrapper {
	height: 100%;

	.login-form {
		width: 100%;
		max-width: 450px;

		.mat-form-field {
			width: 100%;
		}
	 }
}


kt-auth, .login {
	 height: 100%;

	 .login-form {
		width: 100%;
		max-width: 450px;

		.mat-form-field {
			width: 100%;
		}
	 }

	// add extra right padding when displaying spinner in button
 	.spinner {
 		padding-right: 3rem !important;
 	}
}

kt-login, kt-register, kt-forgot-password {
	-webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	flex: 1 0 auto;
	height: 100%;
	display: flex !important;
}

.height-100 {
	height: 100%;
}
