<div class="ghm-attachment">
    <form class="form-inline">
        <div class="pull-left" *ngIf="isShowTitle">
            <h3 class="padding-top-0" i18n="@@attachment"><i class="fa fa-paperclip"></i> Tệp đính kèm </h3>
        </div>
        <div class="pull-right" *ngIf="listFileAttachment && listFileAttachment.length > 0">
            <a class="cursor-pointer color-light-brown" [class.color-dark-blue]="type === viewType.gird"
               title="Hiển thị tệp đính kèm theo ô" (click)="type = viewType.gird">
                <i class="fa fa-th"></i>
            </a>
            <a class="cursor-pointer color-light-brown" [class.color-dark-blue]="type === viewType.list"
               (click)="type = viewType.list"
               title="Hiển thị tệp đính kèm theo danh sách">
                <i class="fa fa-list"></i>
            </a>
        </div>
    </form>
    <div class="list-file-attachment" *ngIf="listFileAttachment && listFileAttachment.length > 0">
        <div class="file-grid-container" *ngIf="type === viewType.gird">
            <div class="file-grid-item overlay"
                 *ngFor="let item of listFileAttachment; let i = index" title="{{item.fileName}}">
                <div class="sub-header">
                    <a *ngIf="isEnable" title="Xóa" i18n="@@delete" class="cm-pd-i-3"
                       [swal]="confirmDeleteAttachment" (confirm)="delete(item)">
                        <i class="fa fa-times"></i>
                    </a>
                    <a title="Tải xuống" (click)="downloadFile(item)" i18n-title="@@down" class="cm-pd-i-3">
                        <i class="fa fa-download"></i>
                    </a>
                    <a *ngIf="item.isImage; else viewFileGird" title="Xem trước" [nhImageViewer]="urlFile + item.url"
                       i18n-title="@@view" class="cm-pd-i-3"><i
                        class="fa fa-eye"></i></a>
                    <ng-template #viewFileGird>
                        <a title="Xem trước" (click)="showFile(item)" i18n-title="@@view" class="cm-pd-i-3"><i
                            class="fa fa-eye"></i></a>
                    </ng-template>
                </div>
                <div class="icon">
                    <i [class]="'at-icon at-icon-' + item.extension?.replace('.', '')" *ngIf="!item.isImage"></i>
                    <img ghmImage="" [errorImageUrl]="'/assets/images/no-image.png'" [src]="item.url"
                         [nhImageViewer]="urlFile + item.url"
                         *ngIf="item?.isImage"/>
                </div>
                <div class="name">
                    <span>{{item.fileName}}</span>
                </div>
                <span class="overlay"></span>
            </div>
        </div>
        <table class="table table-bordered table-striped" *ngIf="type === viewType.list">
            <thead>
            <tr>
                <th class="middle" i18n="@@fileNameAttachment">Tên tập đính kèm</th>
                <th class="middle center hidden-xs" i18n="@@userCreator">Người tạo</th>
                <th class="middle center w100 hidden-xs" i18n="@@createTime">Ngày tạo</th>
                <th class="middle center w100" i18n="@@function">Chức năng</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of listFileAttachment">
                <td class="middle">{{item.fileName}}</td>
                <td class="middle center">{{item.creatorFullName}}</td>
                <td class="middle center">{{item.createTime | dateTimeFormat : 'DD/MM/YYYY'}}</td>
                <td class="middle center">
                    <a *ngIf="item.isImage; else viewFileList" title="Xem trước"
                       [nhImageViewer]="urlFile + item.url" i18n-title="@@view" class="cm-pd-i-3"><i
                        class="fa fa-eye"></i></a>
                    <ng-template #viewFileList>
                        <a title="Xem trước" (click)="showFile(item)" i18n-title="@@view" class="cm-pd-i-3"><i
                            class="fa fa-eye"></i></a>
                    </ng-template>
                    <a title="Tải xuống" (click)="downloadFile(item)" i18n-title="@@down" class="cm-pd-i-3">
                        <i class="fa fa-download"></i>
                    </a>
                    <a *ngIf="isEnable" title="Xóa" i18n="@@delete" class="cm-pd-i-3"
                       [swal]="confirmDeleteAttachment" (confirm)="delete(item)">
                        <i class="fa fa-times"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="drag-drop-box center" *ngIf="isEnable">
        <ghm-file-explorer
            [type]="'label'"
            i18n-buttonText="@@selectFileAttachment"
            [multiple]="isMultiple"
            i18n-buttonText="@@selectFileAttachment"
            [buttonText]="'Click để thêm tệp đính kèm'"
            (itemSelected)="selectItem($event)"
            (acceptSelected)="acceptSelectedFile($event)"></ghm-file-explorer>
    </div>
</div>

<swal
    #confirmDeleteAttachment
    title="Bạn có muốn xóa tập tin đính kèm"
    text="Bạn không thẻ khôi phục tập tin đính kèm sau khi xóa"
    type="question"
    confirmButtonText="Đồng ý"
    cancelButtonText="Hủy"
    [showCancelButton]="true"
    [focusCancel]="true">
</swal>
