@import "../../../../assets/styles/config";

.ghm-attachment {
    margin-top: 10px;
    i {
        font-weight: normal !important;
    }
    .pull-left {
        h3 {
            font-size: 16px;
            margin: 0px 0px 5px;
            font-weight: 500;
        }
    }

    .pull-right {
        a {
            margin-left: 5px;
        }
    }
    table {
        margin-bottom: 10px;
        thead {
            background-color: $bright-blue;
            th {
                border: none;
                font-weight: normal;
            }
        }
        tbody {
            tr {
                &:first-child {
                    td {
                        border-top: none !important;
                    }
                }
                td {
                    border: 1px dashed #eaeaea;
                    padding: 3px;
                    font-size: 13px;
                }
            }
        }
    }

    .file-grid-container {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        -moz-column-gap: 1em;
        -webkit-column-gap: 1em;
        column-gap: 1em;
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;

        .file-grid-item {
            display: flex;
            flex-basis: 24%;
            box-sizing: border-box;
            position: relative;
            text-align: center;
            overflow: hidden;
            align-items: center;
            justify-content: center;
            background-color: $white;
            padding: 4px;
            margin: 2px;
            border: 1px solid $borderColor;
            cursor: pointer;

            @media screen and (max-width: $max-width-mobile) {
                flex-basis: 48%;
            }

            @media screen and (min-width: $max-width-mobile) and (max-width: $max-width-tablet) {
                flex-basis: 31%;
            }

            @media screen and (min-width: $max-width-tablet) and (max-width: $max-width-desktop) {
                flex-basis: 18%;
            }

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 30px;
                min-height: 110px;
            }
            img {
                width: 100%;
            }

            .btn {
                display: none;
                position: absolute;
                right: 0;
                top: 0;
                float: right !important;
                margin: 0 auto;
                z-index: 9999;
            }

            i.at-icon {
                font-size: 50px;
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
            }

            div.name {
                display: block;
                width: 100%;
                padding: 5px 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                position: absolute;
                bottom: 0;
                cursor: pointer;
                border-top: 1px solid $borderColor;
                color: $gray-dark;
            }

            img {
                width: 100%;
            }

            .overlay {
                background: rgba(0, 0, 0, .25);
                display: inline-block;
                height: 100%;
                left: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }

            .sub-header {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                margin: auto;
                z-index: 5;
                padding: 6px;
                visibility: hidden;

                a {
                    background-color: $white;
                    color: $gray-dark;
                    float: right;
                    border-radius: 4px !important;
                    color: #343a40;
                    padding: 2px 6px !important;
                    margin: 2px;
                    text-decoration: none;

                    &:hover {
                        color: $dark-blue;
                    }
                }
            }

            &:hover {
                .overlay {
                    opacity: 0.9;
                }
                div.name {
                    border-top: none;
                    color: $white;
                    z-index: 999;
                }

                .sub-header {
                    z-index: 999;
                    visibility: visible;
                }
            }
        }
    }
}

.at-icon {
    font-family: "FontAwesome";
    font-style: normal;

    &.at-icon-xls, &.at-icon-xlsx {
        &:before {
            content: "\f1c3";
        }
        color: forestgreen;
    }
    &.at-icon-doc, &.at-icon-docx {
        &:before {
            content: "\f1c2";
        }
        color: cornflowerblue;
    }
    &.at-icon-txt:before {
        content: "\f0f6";
    }
    &.at-icon-pptx {
        &:before {
            content: "\f1c4";
        }
        color: #e74c3c;
    }
    &.at-icon-pdf {
        &:before {
            content: "\f1c1";
        }
        color: #c0392b;
    }
}
