.ghm-input {
    width: 100%;
    position: relative;

    .icon-prepend {
        left: 7px;
        border-right: 1px solid #c2c2c2;
        padding-right: 6px;
        color: #0072BC;
        position: absolute;
        top: 6px;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        font-weight: normal !important;
        z-index: 10;
    }

    input {
        padding-left: 32px;
        padding-right: 32px;
    }

    .remove-value {
        position: absolute;
        top: 8px;
        right: 8px;
        display: block;
        //width: 32px;
        //height: 32px;
        font-size: 18px;
        color: #999999;
        text-decoration: none;
        //background: url('../../../../assets/images/icon/icon-remove.png') center no-repeat;
        z-index: 3;
        &:hover {
            color: #999999;
        }
    }
}
.alt-image {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.disabled {
    cursor: no-drop;
    input {
        background-color: #eef1f5 !important;
    }

    .icon-prepend {
        color: #999999;
    }
}
