<button class="ghm-select-button" type="button" (click)="buttonClick()" [disabled]="readonly" [id]="elementId"
        [ngClass]="classColor"
        [class.disabled]="readonly"
        [ngStyle]="{color: classColor? 'white': '', 'background': classColor ? '' :'white', 'width' : width ? width + 'px' : '100%'}">
    <i *ngIf="icon" class="icon-prepend {{icon}}"></i>
    {{ !label ? title : label }}
    <a class="remove-value dx-icon-clear" *ngIf="isShowRemove && label !== title"
       (click)="remove($event)">
    </a>
    <span class="caret" [ngStyle]="{color: classColor? 'white': ''}"></span>
</button>

<ng-template #dropdownTemplate>
    <div class="ghm-select-menu">
        <div class="search-box" *ngIf="liveSearch">
            <input [id]="inputId" type="text" class="form-control w100pc"
                   placeholder="Enter keyword"
                   i18n-placeholder="@@enterKeyword"
                   (keydown.enter)="$event.preventDefault()"
                   (keyup)="searchKeyUp($event, searchBox.value)"
                   #searchBox/>
        </div>
        <hr *ngIf="liveSearch"/>
        <ul class="wrapper-list-menu" *ngIf="!readonly">
            <li *ngIf="data?.length > 0 && title" (click)="selectItem({id: null, name: title})">
                {{title}}
            </li>
            <li *ngIf="isSearching" class="center">
                <i class="fa fa-spinner fa-pulse"></i>
            </li>
            <li class="ghm-select-item" *ngFor="let item of source"
                [class.selected]="item.selected"
                [class.active]="item.active"
                (click)="selectItem(item)">
                <img [src]="item.image" ghmImage="" class="avatar-sm rounded-avatar" *ngIf="item.image">
                <i *ngIf="item.icon" [ngClass]="item.icon"></i>
                {{item.name}}
                <i class="fa fa-check nh-selected-icon color-green"
                   *ngIf="item.selected && multiple"></i>
            </li>
            <li *ngIf="source?.length === 0 && isInsertValue" class="background-none">
                <button class="btn btn-primary btn-block" type="button" (click)="insertValue()"><i
                    class="fa fa-plus"></i>Thêm mới
                </button>
            </li>
            <li *ngIf="source?.length === 0 && !isInsertValue" class="no-data">Không có dữ liệu</li>
        </ul>
    </div>
</ng-template>

