$borderColor: #ddd;
$hoverBackgroundColor: #eee;

nh-dropdown {
    display: inline-block;
    position: relative;

    &.nh-dropdown-open {
        .nh-dropdown-menu {
            display: block;
            top: 100%;
            left: 0;
            background: white;
            border: 1px solid $borderColor;
        }
    }

    //& > button {
    //    border: none !important;
    //    background: transparent !important;
    //}

    & > button {
        &.btn-no-background {
            background: transparent !important;
        }

        &.no-border {
            border: none !important;
        }
    }

    .nh-dropdown-menu {
        position: absolute;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        display: none;
        min-width: 175px;
        z-index: 1000;
        margin-top: 10px;
        text-align: left;
        &:before {
            position: absolute;
            top: -8px;
            left: 9px;
            right: auto;
            display: inline-block !important;
            border-right: 8px solid transparent;
            border-bottom: 8px solid $borderColor;
            border-left: 8px solid transparent;
            content: '';
        }

        &:after {
            position: absolute;
            top: -7px;
            left: 10px;
            right: auto;
            display: inline-block !important;
            border-right: 7px solid transparent;
            border-bottom: 7px solid white;
            border-left: 7px solid transparent;
            content: '';
        }

        &.right {
            right: 0 !important;
            left: auto;

            &:before {
                left: auto;
                right: 18px;
            }

            &:after {
                position: absolute;
                left: auto;
                right: 19px;
            }
        }

        li a {
            padding: 5px 10px;
            color: #333;
            text-decoration: none;
            clear: both;
            font-weight: 300;
            line-height: 18px;
            white-space: nowrap;
            display: flex;
            align-items: center;

            &:hover {
                background: $hoverBackgroundColor;
            }

            .menu-icon {
                font-size: 1.5em;
                color: #555;
                margin-right: 2px;
            }
        }
    }
}
