@import "../../../../assets/styles/config";

.form-comment {
    position: relative;
    width: 100%;
    margin-bottom: 12px;
    border-radius: 4px !important;
    h3 {
        font-size: 16px;
        margin: 10px 0px 5px;
        font-weight: 500;
    }
    .form-extends {
        background-color: $background-color;
        position: relative;
        width: 100%;
        height: 43px;
        line-height: 33px;
        border-radius: 0 0 4px 4px !important;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        a {
            margin: 4px;
            i {
                color: $gray;
                font-weight: normal !important;
            }
        }
        .pull-right {
            .btn {
                margin: 4px;
            }
        }
    }
}

.chats {
    margin-top: -5px;
    li {
        margin: 0px;
        .message {
            margin-left: 5px;
            .btn-remove {
                display: none;
                position: absolute;
                top: 5px;
                right: 5px;
                color: $gray;

                i {
                    font-weight: normal !important;
                    font-size: 16px;
                }
            }

            &:hover {
                .btn-remove {
                    display: block;
                }
            }

            a {
                text-decoration: none;
            }
        }
        .btn {
            text-align: center;
        }
    }

    .note-container {
        border: 1px dashed #ddd !important;
        cursor: pointer;
    }
}
