<div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}
</div>
<div class="form-comment">
    <h3 class="padding-top-0" i18n="@@comment"><i class="fa fa-comments-o"></i> Phản hồi </h3>
    <div *ngIf="showCommentBox">
    <textarea class="form-control"
              id="commentInput"
              i18n-placeholder="@@enterComment"
              placeholder="Nhập bình luận"
              rows="3"
              [(ngModel)]="comment"></textarea>
    </div>
    <div class="form-extends" *ngIf="showCommentBox">
        <!--<a class="cm-mgl-10 pull-left">-->
            <!--<i class="fa fa-paperclip fa-lg"></i>-->
        <!--</a>-->
        <div class="pull-right" *ngIf="isEnable">
            <ghm-button type="button" classes="btn blue" [loading]="isSaving"
                    (click)="sendComment()" i18n="@@sendComment">
                Gửi bình luận
            </ghm-button>
        </div>
    </div>
</div>
<div *ngIf="!showCommentBox" class="cm-mgt-10">
    <a href="javascript://" (click)="showCommentInput()">
        <i class="fa fa-pencil"></i>
        Viết bình luận
    </a>
</div>
<ul class="chats" #commentsContainer>
    <li *ngIf="isSearching">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </li>
    <li class="in" *ngFor="let item of listComments">
        <div class="media">
            <div class="media-left">
                <img ghmImage
                     [src]="item?.image"
                     [errorImageUrl]="'/assets/images/noavatar.png'"
                     class="avatar-sm img-circle"/>
            </div>
            <div class="media-body">
                <div class="message">
                    <span class="arrow"> </span>
                    <a href="javascript://" class="name"> {{item.fullName}} </a>
                    <span class="datetime"> {{item.createTime}} </span>
                    <span class="body" [innerHTML]="item.content"></span>
                    <a class="btn-remove" (click)="removeComment(item)" *ngIf="currentUser.id === item.userId && isEnable"><i class="fa fa-times"></i></a>
                </div>
            </div>
        </div>
    </li>
    <li *ngIf="isShowLoadMore">
        <button class="btn btn-primary btn-block btn-sm" (click)="loadMore()" i18n="@@loadMoreComment">
            Tải thêm mình luận
        </button>
    </li>
    <li *ngIf="listComments.length === 0 && !isSearching && isEnable" class="center note-container" (click)="focusSendComment()">
        Chưa có bình luận nào để hiển thị
    </li>
</ul>

