<div class="ghm-select-picker-container" *ngIf="isShow">
    <div class="ghm-select-picker-header" *ngIf="title">
        <h4 class="bold">{{ title }}</h4>
    </div><!-- END: .ghm-select-picker-header -->
    <div class="ghm-select-picker-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-danger" i18n="@@PleaseSelectAtLeastOneItem" *ngIf="errorMessage">
                    {errorMessage, select, required {Please select at least one item} other {}}
                </div>
            </div>
        </div>
        <div class="input-group" *ngIf="!isTreeView">
            <ghm-input icon=""
                       placeholder="Nhập từ khóa tìm kiếm "
                       (keyUp.enter)="search()"
                       (remove)="search()" [(ngModel)]="keyword"></ghm-input>
            <span class="input-group-btn">
                  <button class="btn blue" type="button" (click)="search()">
            <i class="dx-icon-search"></i>
        </button>
            </span>
        </div>
        <div class="ghm-select-picker-left">
            <div class="text-left">
                <h4 class="title">{{allTitle}}</h4>
                <ul class="ghm-select-picker-items cm-mgt-10" *ngIf="!isTreeView">
                    <li *ngFor="let item of listSource" (click)="selectItem(item)">{{ item.name }}</li>
                </ul>
                <dx-tree-view *ngIf="isTreeView"
                              id="simple-treeview"
                              [items]="listSource"
                              dataStructure="plain"
                              parentIdExpr="parentId"
                              keyExpr="id"
                              displayExpr="name"
                              [searchEnabled]="true"
                              searchMode="contains"
                              [height]="350"
                              (onItemClick)="selectItem($event.itemData)"
                ></dx-tree-view>
                <div class="row" *ngIf="paging">
                    <div class="text-right" class="col-sm-12" *ngIf="totalRows > 0">
                        <ul class="pagination">
                            <li *ngFor="let pageNumber of listPages" [class.active]="pageNumber === currentPage">
                                <a href="javascript://" (click)="pageClick(pageNumber)">{{pageNumber}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- END: .ghm-select-picker-left -->
        <div class="ghm-select-picker-right">
            <h4 class="title">{{selectedTitle}}</h4>
            <ul class="ghm-select-picker-items ">
                <li *ngFor="let item of selectedItems">
                    {{ item.name }}
                    <a href="javascript://" class="ghm-select-picker-item-action" (click)="removeItem(item.id)">
                        <svg focusable="false" height="20" role="presentation" viewBox="0 0 20 20" width="20">
                            <path
                                d="M12 10.586L6.707 5.293a1 1 0 0 0-1.414 1.414L10.586 12l-5.293 5.293a1 1 0 0 0 1.414 1.414L12 13.414l5.293 5.293a1 1 0 0 0 1.414-1.414L13.414 12l5.293-5.293a1 1 0 1 0-1.414-1.414L12 10.586z"
                                fill="currentColor"></path>
                        </svg>
                        <!--<i class="dx-icon-remove"></i>-->
                    </a>
                </li>
            </ul>
        </div><!-- END: .ghm-select-picker-right -->
    </div><!-- END: .ghm-select-picker-body -->
    <div class="ghm-select-picker-footer text-right">
        <button class="btn blue cm-mgr-5" i18n="@@accept" (click)="accept()">Đồng ý</button>
        <button class="btn btn-light" i18n="@@cancel" (click)="dismiss()">Hủy</button>
    </div><!-- END: .ghm-select-picker-footer -->
</div><!-- END: .ghm-select-picker-container -->
