<div class="row">
    <div class="col-sm-6" *ngIf="isShowPageSize && totalRows > 0">
        <ghm-select
            class="w100"
            icon=""
            [width]="120"
            elementId="pageSize"
            [(ngModel)]="pageSize"
            name="pageSize"
            [isShowRemove]="false"
            [data]="[{id: 5, name: '5 bản ghi'},{id: 10, name: '10 bản ghi'},{id: 20, name: '20 bản ghi'}, {id: 50, name: '50 bản ghi'}, {id: 100, name: '100 bản ghi'}, {id: 500, name: '500 bản ghi'}]"
            (itemSelected)="onSelectPageSize($event)"
        ></ghm-select>
    </div>
    <div [ngClass]="isShowPageSize ? 'col-sm-6' : 'col-sm-12'" *ngIf="totalRows > 0">
        <ul class="pagination pull-right" *ngIf="isShowPaging">
            <li *ngIf="isShowPrevious" (click)="previousClick()" [class.disabled]="isDisabled">
                <a href="javascript://" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li *ngFor="let item of listPageShow" [class.active]="item === currentPage"
                [class.disabled]="isDisabled"><a href="javascript://" (click)="onClick(item)">{{item}}</a></li>
            <li *ngIf="isShowNext" (click)="nextClick()" [class.disabled]="isDisabled">
                <a href="javascript://" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
        <span *ngIf="isShowSummary" class="cm-mgt-5 cm-mgr-5 pull-right">
                {{summaryMessage}}
        </span>
    </div>
</div>
