ghm-paging {
    width: 100%;
    ul.pagination {
        margin: 0;
        display: block;
        //width: 100%;

        li {
            display: inline !important;
            a, span {
                border: none;
                color: #333;
                border-radius: 3px !important;
                margin-right: 5px;
            }
        }

    }

    .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
        background-color: #d4d4d4;
        color: #333;
    }
}
