<button class="ghm-select-button-datetime" type="button" ghmDialogTrigger=""
        [ghmDialogTriggerFor]="ghmSelectDatetime"
        [disabled]="readonly" [id]="elementId">
    <i *ngIf="icon" class="icon-prepend {{icon}}"></i>
    {{label ? label : title}}
    <span class="caret"></span>
</button>

<ghm-dialog #ghmSelectDatetime [position]="'center'" [backdropStatic]="true">
    <ghm-dialog-header>
        Chọn thời gian
    </ghm-dialog-header>
    <ghm-dialog-content>
        <div class="ghm-select-datetime">
            <div class="col-sm-12 cm-pd-0 cm-mgb-5">
                <dx-date-box
                    [(value)]="startDate"
                    placeholder="Từ ngày"
                    [displayFormat]="'dd/MM/yyyy'"
                    [useMaskBehavior]="true"
                    dateSerializationFormat="yyyy-MM-ddTHH:mm:ss"
                    [showClearButton]="true"
                    [readOnly]="readonly"
                    type="date">
                </dx-date-box>
            </div>
            <div class="col-sm-12 cm-pd-0 cm-mgb-5">
                <dx-date-box
                    [(value)]="endDate"
                    placeholder="Đến ngày"
                    [displayFormat]="'dd/MM/yyyy'"
                    [useMaskBehavior]="true"
                    dateSerializationFormat="yyyy-MM-ddTHH:mm:ss"
                    [showClearButton]="true"
                    [readOnly]="readonly"
                    type="date">
                </dx-date-box>
            </div>
            <ul>
                <li class="ghm-select-datetime-item" *ngFor="let dateRange of listDateRange"
                    (click)="selectItem(dateRange)"
                    [class.selected]="dateRange.isSelected">
                    {{dateRange.name}}
                </li>
            </ul>
        </div>
    </ghm-dialog-content>
    <ghm-dialog-footer>
        <div class="center">
            <button class="btn blue cm-mgr-5" (click)="selectDateTime()">Chọn</button>
            <button class="btn btn-light" ghm-dismiss="">Đóng</button>
        </div>
    </ghm-dialog-footer>
</ghm-dialog>

