@import "../../../../assets/styles/config";

ghm-select-datetime {
    text-align: left;
    width: 100%;
    display: inline-block;

    &.has-error > button.ghm-select-button-datetime {
        border: 1px solid $danger !important;
    }

    button.ghm-select-button-datetime {
        width: 100%;
        min-width: 150px;
        border-radius: 4px !important;
        border: none !important;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin: 0 !important;
        min-height: 33px;
        text-align: left;
        padding: 7px 5px 7px 5px;
        background-color: $bright-blue;

        span {
            float: right;
            margin-top: 8px;
            color: $dark-blue;
        }

        .icon-prepend {
            padding-right: 6px;
            color: $dark-blue;
            top: 6px;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            font-weight: normal !important;
        }
    }
}

.ghm-select-datetime {
    margin: 0px -15px;
    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        //max-height: 300px;
        //overflow-y: auto;
        margin-top: 5px;
        li {
            padding: 8px 8px 8px 12px;
            display: block;
            width: 100%;
            border-bottom: none !important;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            user-select: none;
            border-bottom: 1px solid #eaeaea !important;
            &:first-child {
                border-top: 1px solid #eaeaea !important;
            }
            &:hover, &.active, &.selected {
                cursor: pointer;
                //color: white;
                background: $bright-blue;
            }

            a {
                user-select: none;
                text-decoration: none;

                &:hover, &:active, &:visited, &:focus {
                    text-decoration: none;
                }
            }
        }

        .background-none {
            background: none !important;
        }

        li.ghm-select-datetime-item a:visited, li.ghm-select-datetime-item a:active, li.ghm-select-datetime-item a:focus {
            outline: none;
            text-decoration: none;
        }

        li.ghm-select-datetime-item.selected {
            //color: white;
            background: $bright-blue;
        }
    }
}
