
<div class="app-suggest">
    <div class="header">
        <span>{{header}}</span>
    </div>
    <div class="media">
        <div class="media-left">
            <img ghmImage
                 [src]="avatar"
                 [errorImageUrl]="'/assets/images/noavatar.png'"
                 class="avatar-sm img-circle"/>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{title}}</h4>
            <i>{{description}}</i>
        </div>
    </div>
</div>
