@import "../../../../assets/styles/config";

.app-suggest {
    background: $light-blue;
    border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    padding: 15px;

    .header {
        color: $lightGreen;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .media {
        margin-top: 0px;
        .media-left {
            padding-right: 5px;
        }
        h4 {
            font-size: 15px;
            font-weight: 500;
        }

        .media-heading {
            margin-top: 0px !important;
        }
    }
}
