@import "../../../../assets/styles/config";

.user-select {
    display: flex;
    margin: 10px 0px;
    .btn-select-user-picker {
        margin-left: 5px;
        margin-top: 5px;
        vertical-align: middle;
    }
}

.nh-user-picker-container{
    width:800px !important;
    top: 0%;
}
