<div class="user-select">
    <ghm-suggestion-user
        #ghmSelectUserSuggestion
        (itemSelected)="selectUser($event)"></ghm-suggestion-user>
    <a class="btn-select-user-picker" href="javascript://"
       (click)="showUserPicker()" data-icon="advance-search-emp-24">
    </a>
</div>

<nh-modal #userPickerModal [size]="'full'" [backdropStatic]="true">
    <nh-user-picker
        i18n-title="@@selectParticipant"
        i18n-allTitle="@@listUser"
        i18n-selectedTitle="@@listSelectedUser"
        title="Select participant"
        allTitle="List user"
        selectedTitle="List selected user"
        [selectedItems]="selectUsers"
        (selectedItem)="selectUserPicker($event)"
        (removedItem)="removeUserPicker($event)"
        (accepted)="onAcceptSelectUsers($event)"
        (close)="closeUserPicker()"
    ></nh-user-picker>
</nh-modal>

