<div class="ghm-dialog-label">
    <span>{{title}}</span>
</div>
<ng-template #contentDialogRef>
    <div [ngClass]="'ghm-dialog ghm-dialog-' + size">
        <ng-content></ng-content>
    </div>
</ng-template>
