
.ghm-dialog-sm {
    width: 300px;
}

.ghm-dialog-md {
    width: 600px;
}

.ghm-dialog-lg {
    width: 900px;
}

body {
    .cdk-global-overlay-wrapper {
        overflow-y: auto !important;
        pointer-events: auto !important;
    }
}

.ghm-dialog {
    display: block;
    background: white;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px !important;
    top: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);

    &:before, &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
    }

    ghm-dialog-header, ghm-dialog-content, ghm-dialog-footer {
        padding: 7px 15px;
        width: 100%;
        display: block;
    }

    ghm-dialog-header {
        flex: 1 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #ddd;
        font-size: 16px;
        min-height: 48px;

        .ghm-dialog-header-content {
            flex: 10;
            // margin-right: 32px;
        }
        .ghm-dialog-header-close-button {
            //flex: 1;
            //text-align: right;
            //cursor: pointer;
            //position: absolute;
            //top: 0px;
            //right: 0px;

            position: absolute;
            top: 0;
            right: 0;
            width: 48px;
            height: 48px;
            z-index: 101;
            opacity: .8;
            cursor: pointer;
        }

        &:after {
            top: -7px;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid white;
        }
    }

    ghm-dialog-footer {
        position: relative;
        float: left;
        width: 100%;
        background-color: white;
        border-top: 1px solid #eaeaea;
    }

    ghm-dialog-content {
        overflow-y: auto;
        //overflow-y: auto;
        // max-height: 300px;
        //overflow: auto;
    }

    &.ghm-dialog-bottom {
        &::before {
            top: -8px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #ddd;
        }

        &::after {
            top: -7px;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid white;
        }
    }

    &.ghm-dialog-top {
        margin-bottom: 10px;

        &:before {
            width: 0;
            height: 0;
            bottom: -8px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid #ddd;
        }
        &:after {
            bottom: -7px;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 7px solid white;
        }
    }

    &.ghm-dialog-left {
        &:before {
            left: 30px;
        }

        &:after {
            left: 31px;
        }
    }

    &.ghm-dialog-right {
        &:before {
            right: 30px;
        }
        &:after {
            right: 31px;
        }
    }

    &.ghm-dialog-sm-center {
        &:before {
            left: 150px;
        }

        &:after {
            left: 151px;
        }
    }

    &.ghm-dialog-md-center {
        &:before {
            left: 300px;
        }

        &:after {
            left: 301px;
        }
    }

    &.ghm-dialog-lg-center {
        &:before {
            left: 450px;
        }

        &:after {
            left: 451px;
        }
    }
}

[imgsrc="dlg-close"] {
    background: url('src/assets/images/backgrounds/dialog-close.png') center no-repeat;
}
