$borderColor: #ddd;
$border-width: 1px;
$padding: 10px;

body.nh-modal-open {
    .cdk-global-overlay-wrapper {
        overflow-y: auto !important;
        pointer-events: auto !important;
    }
}

nh-modal.open {
    .nh-modal-container {
        display: block;
    }
}

//.nh-modal-container {
//    //background: white;
//    margin: 0 auto;
//    width: 100%;
//    //overflow-x: hidden;
//    //overflow-y: auto;
//    position: fixed;
//    top: 0;
//    left: 0;
//    height: 100%;
//    z-index: 9999;
//    border: 1px solid red;
//    //display: none;
//
//    .nh-modal-backdrop {
//        position: fixed;
//        display: block;
//        width: 100%;
//        height: 100%;
//        background: rgba(0, 0, 0, 0.3);
//    }
//
//    &.has-backdrop {
//        //background: rgba(0, 0, 0, 0.3);
//    }
//}

.nh-modal-sm {
    width: 300px;
}

.nh-modal-md {
    width: 600px;
}

.nh-modal-lg {
    width: 1000px;
}

.nh-modal-full {
    width: calc(100% - 50px);
    margin-left: 30px;
}

.nh-modal-wrapper {
    background: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px !important;
    //transform: translateY(-120%);

    nh-modal-header, nh-modal-content, nh-modal-footer {
        padding: 7px 15px;
        display: block;
        width: 100%;
    }

    nh-modal-header {
        flex: 1 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid $borderColor;
        font-size: 16px;
        //background: white;

        &.uppercase {
            text-transform: uppercase;
        }

        &.bold {
            font-weight: 700;
        }

        .nh-modal-header-content {
            flex: 10;
        }

        .nh-modal-header-close-button {
            flex: 1;
            text-align: right;
            color: #333;

            &:hover {
                cursor: pointer;
            }
        }
    }

    nh-modal-content {
        width: 100%;
        overflow-y: auto;
        //background: white;
        max-height: 75vh;
    }

    nh-modal-footer {
        border-top: 1px solid $borderColor;
        //background: white;
        text-align: right;
    }
}

