<nh-modal #settingNotificationModal [size]="'md'" (hidden)="onModalHidden()">
    <nh-modal-header>
        Thông tin cấu hình thông báo
    </nh-modal-header>
    <nh-modal-content>
        <div class="form-group">
            <label class="col-sm-4"></label>
            <div class="col-sm-8">
                <mat-radio-group [(ngModel)]="isNotification" (change)="setBuildForm()">
                    <mat-radio-button color="primary" value="0">Không thông báo
                    </mat-radio-button>
                    <mat-radio-button color="primary" class="cm-mgl-10" value="1">Tự cấu hình</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="center" *ngIf="isNotification == 0">
                <ghm-button classes="btn blue cm-mgr-5" [type]="'button'" (clicked)="updateIsNotification()"
                            i18n="@@update">
                    Cập nhật
                </ghm-button>
                <ghm-button type="button" classes="btn btn-light" nh-dismiss="true">
                    Đóng
                </ghm-button>
            </div>
        </div>
        <form class="form-horizontal" (ngSubmit)="save()" [formGroup]="model">
            <div class="form-body" *ngIf="isNotification == 1">
                <div class="wrap-config">
                    <div class="form-group" [class.has-error]="formErrors.dates">
                        <label class="col-sm-4 ghm-label" i18n="@@dayNotification" ghmLabel="Ngày thông báo"
                               [required]="true"></label>
                        <div class="col-sm-8">
                            <nh-date format="DD/MM/YYYY" id="dates" [type]="'inputButton'"
                                     formControlName="dates"></nh-date>
                            <span class="help-block center">
                            {formErrors.dates, select, required {please chose date }}
                        </span>
                        </div>
                    </div>
                    <div class="form-group" [class.has-error]="formErrors.hours || formErrors.minutes">
                        <label i18n="@@time" ghmLabel="Thời gian" class="col-sm-4 ghm-label"></label>
                        <div class="col-sm-4">
                            <ghm-select
                                formControlName="hours"
                                [elementId]="'hourNotification'"
                                [data]="listHour"
                                i18n-title="@@hour"
                                [title]="'Chọn giờ'"></ghm-select>
                            <span class="help-block col-sm-6 center">
                            {formErrors.hours, select, required {please chose hours }}
                        </span>
                        </div>
                        <div class="col-sm-4">
                            <ghm-select
                                formControlName="minutes"
                                [elementId]="'minuteNotification'"
                                [data]="listMinute"
                                i18n-title="@@minute"
                                [title]="'Chọn phút'"></ghm-select>
                            <span class="help-block col-sm-6 center">
                            {formErrors.minutes, select, required {please chose minute }}
                        </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 ghm-label" ghmLabel="Loại hình thông báo"> </label>
                        <div class="col-sm-8">
                            <div>
                                <mat-checkbox formControlName="isSendNotificationEmail" color="primary"
                                              i18n="@@notificationEmail">
                                    Thông báo qua email
                                </mat-checkbox>
                            </div>
                            <div>
                                <mat-checkbox formControlName="isSendNotification" color="primary"
                                              i18n="@@notification">
                                    Thông báo qua notify
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="center">
                    <ghm-button classes="btn blue cm-mgr-5" [loading]="isSaving" i18n="@@update">
                        Cập nhật
                    </ghm-button>
                    <ghm-button type="button" classes="btn btn-light" nh-dismiss="true">
                        Đóng
                    </ghm-button>
                </div>
            </div>
        </form>
    </nh-modal-content>

</nh-modal>
