<div class="nhs-container" [class.disabled]="readonly"
     [class.active]="isActive">
    <div class="nhs-search-wrapper"
         (click)="activeSuggestion($event)">
        <div class="nhs-search-content">
            <ng-container *ngIf="multiple; else singleTemplate">
                <ul class="nhs-selected-wrapper" *ngIf="selectedItems?.length > 0">
                    <ng-container *ngFor="let item of selectedItems">
                        <li class="nhs-item-selected" *ngIf="item.id && item.name">
                            <div class="nhs-item">
                                <div class="nhs-item-image" *ngIf="item.image">
                                    <img class="avatar-xs img-circle" ghmImage="" src="{{ item.image }}" alt="{{ item.name }}">
                                </div><!-- END: .nhs-item-image -->
                                <div class="nhs-item-info">
                                    <i class="{{ item.icon }}" *ngIf="item.icon"></i>
                                    <span class="name">{{ item.name }}</span>
                                </div>
                                <span class="remove" (click)="removeSelectedItem(item)">
                                <svg width="24" height="24" viewBox="0 0 24 24" focusable="false"
                                     role="presentation">
                                    <path
                                        d="M12 10.586L6.707 5.293a1 1 0 0 0-1.414 1.414L10.586 12l-5.293 5.293a1 1 0 0 0 1.414 1.414L12 13.414l5.293 5.293a1 1 0 0 0 1.414-1.414L13.414 12l5.293-5.293a1 1 0 1 0-1.414-1.414L12 10.586z"
                                        fill="currentColor">
                                    </path>
                                </svg>
                            </span><!-- END: .remove -->
                            </div><!-- END: .nhs-item -->
                        </li>
                    </ng-container>
                </ul><!-- END: .nhs-selected-wrapper -->
            </ng-container><!-- END: display selected users -->
            <div class="nhs-search-input"
                 *ngIf="isShowSearchBox">
                <input
                    [attr.id]="id"
                    type="text"
                    [(ngModel)]="keyword"
                    name="searchSuggestion"
                    autocomplete="off"
                    placeholder="{{placeholder}}"
                    (keydown.enter)="$event.preventDefault()"
                    (keyup)="inputKeyUp($event)">
            </div><!-- END: .nhs-search-input -->
        </div><!-- END: .nhs-search-content -->
        <div class="nhs-search-icon">
            <svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation">
                <path
                    d="M16.436 15.085l3.94 4.01a1 1 0 0 1-1.425 1.402l-3.938-4.006a7.5 7.5 0 1 1 1.423-1.406zM10.5 16a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z"
                    fill="currentColor" fill-rule="evenodd"></path>
            </svg>
        </div><!-- END: .nhs-search-icon -->
    </div><!-- END: .nhs-search-wrapper -->
    <div class="nhs-search-result-wrapper"
         #searchResultContainer
         *ngIf="isActive">
        <ul>
            <li class="searching" *ngIf="loading; else loadDoneTemplate">
                <div class="m-loader m-loader--brand"></div>
            </li>
            <li i18n="@@cantFindPerson" *ngIf="keyword && sources.length === 0 && !isLoading">
                <ng-container *ngIf="allowAdd; else notFoundMessage">
                    <a href="javascript://" (click)="add()"><span i18n="@@add">Add</span>: {{ keyword }}</a>
                </ng-container>
                <ng-template #notFoundMessage>
                    Không tìm thấy kết quả với từ khóa: "{{ keyword }}"
                </ng-template>
            </li>
            <li i18n="@@loadMore" *ngIf="currentPage < totalPages" (click)="loadMore($event)" class="load-more">
                <a href="javascript://">Tải thêm</a>
            </li>
        </ul>
    </div><!-- END: .nhs-search-result-wrapper -->
</div><!-- END: .nhs-container -->

<ng-template #loadDoneTemplate>
    <li class="nhs-item"
        *ngFor="let item of sources"
        [class.active]="item.isActive"
        [class.selected]="item.isSelected"
        (click)="selectItem(item)">
        <div class="nhs-item-image" *ngIf="item.image || isShowImage">
            <img class="avatar-sm img-circle" ghmImage="" src="{{ item.image }}" alt="{{ item.name }}">
        </div><!-- END: .nhs-item-image -->
        <div class="nhs-item-info">
            <i class="{{ item.icon }}" *ngIf="item.icon"></i>
            <h2 class="nh-suggestion-name">{{ item.name }}</h2>
            <div class="nh-suggestion-des" *ngIf="item.description">{{ item.description }}</div>
        </div><!-- END: .nhs-item-info -->
    </li><!-- END: .nhs-item -->
</ng-template><!-- END: search result template -->

<ng-template #singleTemplate>
    <div class="nhs-item" *ngIf="selectedItem && !isShowSearchBox">
        <div class="nhs-item-info" (click)="showSearchBox($event)">
            <i class="{{ selectedItem?.icon }}" *ngIf="selectedItem?.icon"></i>
            <span>{{ selectedItem?.name }}</span>
        </div>
        <span class="remove" (click)="removeSelectedItem(selectedItem)">
            <svg width="24" height="24" viewBox="0 0 24 24" focusable="false"
                 role="presentation">
                <path
                    d="M12 10.586L6.707 5.293a1 1 0 0 0-1.414 1.414L10.586 12l-5.293 5.293a1 1 0 0 0 1.414 1.414L12 13.414l5.293 5.293a1 1 0 0 0 1.414-1.414L13.414 12l5.293-5.293a1 1 0 1 0-1.414-1.414L12 10.586z"
                    fill="currentColor">
                </path>
            </svg>
        </span>
    </div><!-- END: .nhs-item -->
</ng-template><!-- END: single selected template -->
