.girl-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .grid {
        height: 60px;
        border-radius: 5px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 23%;
        &.selected {
            border: 4px solid #0072bc;
        }
    }
}
