<div class="girl-container">
    <div class="grid pull-left cm-mgt-5 cm-mgl-5 cursor-pointer" *ngFor="let color of listColorLabel"
         (click)="selectedItem(color)" [class.selected]="color.id === colorId"
         [ngStyle]="{'background-color': color.id}">
    </div>
</div>
